* {
  margin: 0;
}

:root {
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  flex-shrink: 0;
}

.header {
  height: 15vh;
  display: flex;
  color: black;
  background-color: rgba(0, 0, 0, 0.041);
}

.headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vw;
  flex-grow: 1;
}

.navbar {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  height: auto;
  border: 1px solid red;
  overflow-y: auto;
}

.navbar button {
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  border: 1px solid yellow;
}

.navbar button:hover {
  background-color: rgba(0, 0, 0, 0.041);
}

.navbar button:active {
  background-color: rgba(0, 0, 0, 0.041);
}

.navbar button:focus {
  background-color: rgba(0, 0, 0, 0.041);
}

#content {
  flex: 1;
  display: flex;
  overflow: auto;
}

#content > div {
  flex-basis: 75%;
  border: 1px solid green;
  overflow-y: auto;
}

.footer {
  padding: 1vh;
  display: flex;
  color: black;
  background-color: rgba(0, 0, 0, 0.041);
  /* push footer to bottom of page */
  margin-top: auto;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
